:local(.base) {
  background-color: black;
}

:local(.test-local) {
  composes: base;
  color: red;
}

:local(.test-import) {
   composes: component unknown from './src/component.css';
}

:global(.test-2) {
  color: blue
}
