:local(.base) {
  background-color: black;
}

:local(.test-local) {
  composes: base;
  color: red;
}

:local(.test-import) {
  composes: component unknown from './src/component.css';
  composes: js-module from './src/component-2.css';
}

.test-2 {
  color: blue
}
